body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;  
    padding-top: 70px;
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover {
    color:blue;
}

a:visited {
color: rgb(66, 65, 65);
}

#leftArea{
    padding: 20px;
    text-align: center;
}

#rightArea{
    padding: 30px;
    text-align: justify;
}

#dp{
    padding:20px;
}

/*#image{
    border:2px dotted lightgray;
}
*/
#name{
    font-family: 'Yesteryear', cursive;
    /*font-weight: bold;*/
    font-size: 300%;
}

#sendMail{
    padding: 30px;
}

footer{
    padding:2px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.212);
    padding: 16px;
    text-align: left;
    background-color:#f1f1f167;
    width: 30%;
  }

.heading{
    font-weight: bold;
}

#contactDiv, #projectsDiv, #interestsDiv{
    padding-top: 50px;
}


#panelFooter{
	background-color: #EDECEB;	
}

/*Modifying primary class of panel*/

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}

.panel-primary {
    border-color: #222222;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #222222;
}