body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;  
    padding-top: 70px;
}
.collapsible {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    font-size: default;
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
  }
  
.img_left {
    float: left;
    margin: 0 20px 20px 0;
}

.img_right{
    float: right;
    margin: 0 20px 20px 0;
}

p {
    text-align: justify;
    text-indent: 2em;
}

  a {
    color:#0000EE;
  }

  a:visited {
    color:#0000EE;
  }
#leftArea{
    padding: 20px;
    text-align: center;
}

#rightArea{
    padding: 30px;
    text-align: justify;
}

#dp{
    padding:20px;
}

/*#image{
    border:2px dotted lightgray;
}
*/
#name{
    font-family: 'Yesteryear', cursive;
    /*font-weight: bold;*/
    font-size: 300%;
}

#table_caption {
    caption-side: bottom;
  }

#sendMail{
    padding: 30px;
}

footer{
    padding:2px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.212);
    padding: 16px;
    text-align: left;
    background-color:#f1f1f167;
    width: 100%;
    height: 100%;
  }

.heading{
    font-weight: bold;
}

.footer_left {
    float: left;
}

.footer_right {
	float: right;
}

#contactDiv, #projectsDiv, #interestsDiv{
    padding-top: 50px;
}


#panelFooter{
	background-color: #EDECEB;	
}

/*Modifying primary class of panel*/

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}

.panel-primary {
    border-color: #222222;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #222222;
}